version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "kafka-broker-api-versions", "--bootstrap-server", "kafka:9092"]
      interval: 5s
      retries: 12
      start_period: 10s

  mongodb:
    image: mongo
    ports:
      - "27017:27017"

  consumer:
    build: ./consumer
    depends_on:
      - kafka
      - mongodb
    environment:
      MONGO_HOST: mongodb
      KAFKA_HOST: kafka

  producer:
    build: ./producer
    depends_on:
      - kafka
    environment:
      KAFKA_HOST: kafka
